.keyword {
    -fx-fill: #0092CA;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: #E58D00;
}

.stringg {
    -fx-fill: #E58D00;
}

.comment {
	-fx-fill: cadetblue;
}

.parameter {
	-fx-fill: #c23616;
	-fx-font-weight: bold;
}

.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}